:root {
  --primary-color: #2196F3; 
  --secondary-color: #9C27B0;
  --tertiary-color: #CDDC39;
  --background-color: #F5F5F5;
  --text-color: #212121;
  --secondary-text-color: #757575;
  --detail-color: #BDBDBD;
  --accent-color: #FF5722;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color); 
  color: var(--secondary-color); 
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--primary-color); 
  padding: 0 20px; /* Adjusted padding */
  color: var(--text-color); 
  text-align: center;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%; /* Ensure full width */
}

.main-header .nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-wrapper {
  display: inline-block;
  align-items: center;
}

.nav-wrapper nav a {
  color: var(--text-color); 
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.3s ease;
  font-weight: 300; 
}

nav a:hover {
  color: var(--secondary-color); 
}

nav a.active {
  color: var(--primary-color); 
}

.login-button button {
  background-color: var(--secondary-color);
  color: var(--accent-color); 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 300; 
}

.login-button button:hover {
  background-color: rgba(255, 255, 255, 0.1); 
}

video {
  width: 100%;
  max-width: none; 
  height: auto; 
}
