:root {
  --primary-color: #2196F3; 
  --secondary-color: #9C27B0;
  --tertiary-color: #CDDC39;
  --background-color: #F5F5F5;
  --text-color: #212121;
  --secondary-text-color: #757575;
  --detail-color: #BDBDBD;
  --accent-color: #FF5722;
}

.login-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: left; 
}

header {
  background-color: var(--detail-color); 
  padding: 20px;
  color: var(--text-color); 
  text-align: center;
}

.welcome-header {
  display: inline-flex;
  justify-content: space-between;
  align-items: left;
}

  
/* .input-container {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  margin-bottom: 10px; 
}
  
.input-container input {
  width: 250px; 
  padding: 8px;
} */
  
.welcome-header .button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 20px;
}
  
.button-container button {
  width: 150px; 
  padding: 8px; 
  font-size: 10px; 
  background-color: var(--secondary-color); 
  color: (var(--secondary-text-color));
  margin-bottom: 5px; 
}
  