@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root {
  --primary-color: #2196F3; 
  --secondary-color: #9C27B0;
  --tertiary-color: #CDDC39;
  --background-color: #F5F5F5;
  --text-color: #212121;
  --secondary-text-color: #757575;
  --detail-color: #BDBDBD;
  --accent-color: #FF5722;
}

.newWorkout {
  background-color: var(--detail-color); 
  color: var(--text-color); 
  box-shadow: 0 2px 4px var(--secondary-text-color);
  padding: 20px 20px;
  margin: 20px 20px;
}

.exercise {
  display: flex;
  background-color: var(--text-color); 
  color: var(--background-color); 
  box-shadow: 0 2px 4px var(--secondary-text-color);
  padding: 20px 20px;
  margin: 20px 20px;
}

.input-group {
  margin: 5px 5px;
  flex: 50%;
}

body {
  font-family: 'Poppins', sans-serif; 
  background-color: var(--background-color); /* Light gray background */
  color: var(--text-color); 
  margin: 0;
  padding: 20px;
}

hi
h2, h3 {
  color: var(--text-color); /* Black */
}

form, .current-plan {
  background-color: var(--background-color); /* White */
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px var(--detail-color); /* Shadow effect */
}

input[type="text"], select, input[type="number"], input[type="range"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid var(--background-color); /* Light gray border */
  box-sizing: border-box;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: var(--background-color); /* Light gray background */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--text-color); /* Black */
  cursor: pointer; 
  border: 2px solid var(--background-color); /* White */
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--detail-color); /* Black */
  cursor: pointer;
  border: 2px solid var(--text-color); /* White */
  border-radius: 50%;
}

button {
  background-color: var(--primary-color); /* Black */
  color: var(--text-color); /* White */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: var(--detail-color); /* Dark gray on hover */
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: var(--background-color); /* Light gray */
  color: var(--text-color);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px var(--detail-color); /* Shadow effect */
}

li button {
  background-color: var(--background-color); /* Light gray */
  color: var(--text-color); /* Dark gray */
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

li button:hover {
  background-color: var(--detail-color); /* Dark gray on hover */
  color: var(--background-color); /* White on hover */
}

.plus {
  background-color: var(--detail-color);
  color: var(--text-color);
  border-color: var(--text-color);
  border-style: dashed;
  margin: 5px 20px;
}

.plus:hover{
  border-style: solid;
}